<!-- <div class="icons-small" style="display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;">
  <div class="weather-icon clear-day"></div>
	<div class="weather-icon clear-night"></div>
	<div class="weather-icon solar-eclipse"></div>
	<div class="weather-icon lunar-eclipse"></div>
	<div class="weather-icon partly-cloudy-night"></div>
	<div class="weather-icon partly-cloudy-day"></div>
	<div class="weather-icon light-clouds"></div>
	<div class="weather-icon rain-clouds"></div>
	<div class="weather-icon cloudy"></div>
	<div class="weather-icon mostly-cloudy-day"></div>
	<div class="weather-icon mostly-cloudy-night"></div>
	<div class="weather-icon partly-cloudy-day"></div>
	<div class="weather-icon sunny-light-rain"></div>
	<div class="weather-icon rain"></div>
	<div class="weather-icon showers"></div>
	<div class="weather-icon snow"></div>
	<div class="weather-icon sleet"></div>
	<div class="weather-icon heavy-clouds"></div>
	<div class="weather-icon scattered-thunderstorms"></div>
	<div class="weather-icon thunderstorms"></div>
	<div class="weather-icon hot"></div>
	<div class="weather-icon wind"></div>
	<div class="weather-icon tornado"></div>
	<div class="weather-icon fog"></div>
</div> -->

<div class="icons-big" style="display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;">
  <div class="weather-icon big clear-day"></div>
	<div class="weather-icon big clear-night"></div>
	<div class="weather-icon big solar-eclipse"></div>
	<div class="weather-icon big lunar-eclipse"></div>
	<div class="weather-icon big partly-cloudy-night"></div>
	<div class="weather-icon big partly-cloudy-day"></div>
	<div class="weather-icon big light-clouds"></div>
	<div class="weather-icon big rain-clouds"></div>
	<div class="weather-icon big cloudy"></div>
	<div class="weather-icon big mostly-cloudy-day"></div>
	<div class="weather-icon big mostly-cloudy-night"></div>
	<div class="weather-icon big partly-cloudy-day"></div>
	<div class="weather-icon big sunny-light-rain"></div>
	<div class="weather-icon big rain"></div>
	<div class="weather-icon big showers"></div>
	<div class="weather-icon big snow"></div>
	<div class="weather-icon big sleet"></div>
	<div class="weather-icon big heavy-clouds"></div>
	<div class="weather-icon big scattered-thunderstorms"></div>
	<div class="weather-icon big thunderstorms"></div>
	<div class="weather-icon big hot"></div>
	<div class="weather-icon big wind"></div>
	<div class="weather-icon big tornado"></div>
	<div class="weather-icon big fog"></div>
</div>
