<section>
	<div class="icons-small" style="display: flex;
	    justify-content: space-between;
	    width: 100%;
	    flex-wrap: wrap;">
			<div class="weather-icon breezy"></div>
			<div class="weather-icon clear-night"></div>
			<div class="weather-icon cloudy-night"></div>
			<div class="weather-icon cloudy"></div>
			<div class="weather-icon lunar-eclipse"></div>
			<div class="weather-icon mostly-cloudy"></div>
			<div class="weather-icon mostly-sunny"></div>
			<div class="weather-icon partly-cloudy"></div>
			<div class="weather-icon rain"></div>
			<div class="weather-icon scattered-showers"></div>
			<div class="weather-icon scattered-thunderstorms"></div>
			<div class="weather-icon showers"></div>
			<div class="weather-icon sleet"></div>
			<div class="weather-icon snow"></div>
			<div class="weather-icon solar-eclipse"></div>
			<div class="weather-icon sunny"></div>
			<div class="weather-icon thunderstorms"></div>
			<div class="weather-icon tornado"></div>
	</div>

	<br>
	<br>

	<div class="icons-big" style="display: flex;
	    justify-content: space-between;
	    width: 100%;
	    flex-wrap: wrap;">
			<div class="weather-icon big breezy"></div>
			<div class="weather-icon big clear-night"></div>
			<div class="weather-icon big cloudy-night"></div>
			<div class="weather-icon big cloudy"></div>
			<div class="weather-icon big lunar-eclipse"></div>
			<div class="weather-icon big mostly-cloudy"></div>
			<div class="weather-icon big mostly-sunny"></div>
			<div class="weather-icon big partly-cloudy"></div>
			<div class="weather-icon big rain"></div>
			<div class="weather-icon big scattered-showers"></div>
			<div class="weather-icon big scattered-thunderstorms"></div>
			<div class="weather-icon big showers"></div>
			<div class="weather-icon big sleet"></div>
			<div class="weather-icon big snow"></div>
			<div class="weather-icon big solar-eclipse"></div>
			<div class="weather-icon big sunny"></div>
			<div class="weather-icon big thunderstorms"></div>
			<div class="weather-icon big tornado"></div>
	</div>

</section>
